bin/assets/
bin/
build/
eclipse/
world/
saves/
logs/
mods/
config/
*.dat
.gradle/
.settings/
gradlew
gradlew.bat
server.properties
options.txt
*.json
*.bat
gradle/
*.properties
.gradle/
screenshots/
.settings/
.classpath
.project
gradlew